{% extends "user/index.html" %}
{% load static %}

{% block content %}


    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" >

      <div class="container">
        <div class="row align-items-center justify-content-center">


          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up"><font color="black">Our Blog</font></h1>
          </div>

        </div>
      </div>
    </div>

    <section class="site-section" id="blog-section">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="h-entry">
              <a href="{% url 'blog-details' %}">
                <img src="{% static 'images/img_1.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="{% url 'blog-details' %}">Where Do You Learn HTML & CSS in 2019?</a></h2>
              <div class="meta mb-4">Ham Brook <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>According to trends, ecommerce will be changed forever</p>
              <p><a href="{% url 'blog-details' %}">Learn More...</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="h-entry">
              <a href="{% url 'blog-details' %}">
                <img src="{% static 'images/img_4.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="{% url 'blog-details' %}">Where Do You Learn HTML & CSS in 2019?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>According to trends, ecommerce will be changed forever</p>
              <p><a href="{% url 'blog-details' %}">Learn More...</a></p>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="h-entry">
              <a href="{% url 'blog' %}">
                <img src="{% static 'images/img_3.jpg' %}" alt="Image" class="img-fluid">
              </a>
              <h2 class="font-size-regular"><a href="{% url 'blog-details' %}">Where Do You Learn HTML & CSS in 2019?</a></h2>
              <div class="meta mb-4">James Phelps <span class="mx-2">&bullet;</span> Jan 18, 2019<span class="mx-2">&bullet;</span> <a href="#">News</a></div>
              <p>According to trends, ecommerce will be changed forever</p>
              <p><a href="{% url 'blog-details' %}">Learn More...</a></p>
            </div>
          </div>

        </div>
      </div>
    </section>


{% endblock content %}