{% extends "user/index.html" %}
{% load static %}

{% block content %}

    <div class="site-blocks-cover overlay" style="background-image: url(images/hero_2.jpg);" >

      <div class="container">
        <div class="row align-items-center justify-content-center">


          <div class="col-md-8 mt-lg-5 text-center">
            <h1 class="text-uppercase" data-aos="fade-up"><font color="black">Testimonials</font></h1>
          </div>

        </div>
      </div>
    </div>

    <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">What clients say about us..</h2>
          </div>
        </div>
      </div>
      <div class="slide-one-item home-slider owl-carousel">
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Great Experience working with Afzal.. Talented and Hard Working.. Great value for money!&rdquo;</p>
              </blockquote>

              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'images/person_3.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>John Smith</p>
              </figure>
            </div>
          </div>
          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Great Experience working with Afzal.. Talented and Hard Working.. Great value for money!&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'images/person_2.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Christine Aguilar</p>
              </figure>

            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Great Experience working with Afzal.. Talented and Hard Working.. Great value for money!&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'images/person_4.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Robert Spears</p>
              </figure>


            </div>
          </div>

          <div>
            <div class="testimonial">

              <blockquote class="mb-5">
                <p>&ldquo;Great Experience working with Afzal.. Talented and Hard Working.. Great value for money!&rdquo;</p>
              </blockquote>
              <figure class="mb-4 d-flex align-items-center justify-content-center">
                <div><img src="{% static 'images/person_4.jpg' %}" alt="Image" class="w-50 img-fluid mb-3"></div>
                <p>Bruce Rogers</p>
              </figure>

            </div>
          </div>

        </div>
    </section>

     <section class="site-section bg-light" id="contact-section" data-aos="fade">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contact Us..</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">



            <form action="#" class="p-5 bg-white">

              <h2 class="h4 text-black mb-5">Contact Form</h2>

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label>
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">

                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label>
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label>
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>


            </form>
          </div>

        </div>
      </div>
    </section>

    <section class="site-section testimonial-wrap" id="testimonials-section" data-aos="fade">
        <div class="container">
            <div class="row site-section" id="faq-section">
              <div class="col-12 text-center" data-aos="fade">
                <h2 class="section-title">Frequently Ask Questions</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-black h4 mb-4">Why I need SEO Expert ?</h3>
                  <p>If you are having an online business and want more traffic from google then you need to hire a <b>SEO expert</b>. SEO expert analyse, review and optimise your website to help you get more traffic from google.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                  <h3 class="text-black h4 mb-4">Who is the best SEO expert in the India ?</h3>
                  <p>Everyone call themselves best SEO expert but I would recommend you to check past SEO results delivered by them.Afzal Khan is the best SEO expert in India as he has a 10+ years of experience and delivered good results to clients.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-black h4 mb-4">Do you guarantee SEO results ?</h3>
                  <p>I simple answer is <b>NO</b>. No one can guarantee ranking in google as no <b>SEO expert</b> or company controls the google algorithms. I would strictly advice you to stay away from SEO experts who promises guaranteed results.Google itself says that you should stay away from <b>SEO consultants or companies</b> who promises you guaranteed results.However based on my experience I can provide you an estimate time in which you can get best results.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                  <h3 class="text-black h4 mb-4">When we can expect first page ranking on Google ?</h3>
                  <p>This depends from industry to industry and keyword to keywords. If competition is more than it will take more time and if competition is less than you can even easily. Usually you start getting good results from SEO in 3-4 months.</p>
                </div>
              </div>
              <div class="col-lg-6">

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                  <h3 class="text-black h4 mb-4">What Quality should I look in a SEO Expert ?</h3>
                  <p>If you are looking to hire a SEO expert, I would recommend checking his experience and past SEO results delivered by him. Check out our case studies to see our past work.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                  <h3 class="text-black h4 mb-4">How SEO Can Help Me Double Up Sales ?</h3>
                  <p>SEO helps you to get more traffic from google and increase your sales. Once your website is on first page of google then you can get a lot of targeted customers resulting in more sales.</p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                <h3 class="text-black h4 mb-4">What are your SEO Plans ?</h3>
                  <p>Our SEO plan starts from Rs 8000 for 10 keywords. <b><a href="{% url 'seo-packages' %}">Check out</a></b> more details about our SEO packages.Depending on your requirement and budget choose a plan. In case you need any help in deciding a good SEO packages, then <b><a href="{% url 'contact' %}"> reach to us .</a></b></p>
                </div>

                <div class="mb-5" data-aos="fade-up" data-aos-delay="100">
                  <h3 class="text-black h4 mb-4">Do you offer any Discount on SEO packages ?</h3>
                  <p>Yes, we do. If you sign up for 3 months SEO package then you can avail 10% extra discount.Usually SEO services takes 3-4 months time to give good results.You should sign up for 3 months contract to save money.</p>
                </div>
              </div>
            </div>

        </div>
    </section>

{% endblock content %}